/************
 *
 * KU - Remark tweaks
 * 
 * Claus Ekstrøm 2016-2017
 *
 * This CSS file consists of two types of changes: 1) changes to the default style, and 2) new additions
 * There is no ordering of these and it would be a good idea if they were added in separate sections
 * 
 ************/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

/* CE Added my favorite fonts */
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');

body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
       background-color:#222;
     }

/* Default background colour, and font size */
.remark-slide-content{ background-color:#222;
		       font-family: 'Fira Sans', 'Yanone Kaffeesatz';
		       color: #fff;
		       font-size: 180%;
/*		       font-family: 'Alegreya Sans', sans-serif; */
		       font-family: 'Alegreya', serif;		       
		     }

/* Remove the drop box shadow around the slides in full screen */
.remark-slide-scaler {
    -webkit-box-shadow: 0 0 0px #888;
    box-shadow: 0 0 0px #888;
}

/* Change the overall background colour _outside_ the actual slides */
body:-webkit-full-screen {
    background: #222;
}


/****************
 *
 * Tables
 *
 ****************/

table { display: inline-block; }  /* Fix centering of tables  */ 

table th {
    background-color: #901A1E; /* KUs farve for table headers */
    padding: 0px 6px; 
}

tbody tr:nth-child(odd) {   /* Zebra stipes for tables */
    background-color: #444;
}

table td  { padding: 0px 16px; }


/***********
 *
 * Changed CSS
 *
 **************/



/* Insert logo as background image */
.kulogo {
    background-image: url(kulogowhiteq.png);
    background-position: 100% 100%;
    background-size: 30%;
}

video#videobg {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.dimbg {
    -webkit-filter: blur(5px) opacity(.3);
    -moz-filter: blur(10px) opacity(.3);
    -o-filter: blur(5px) opacity(.3);
    -ms-filter: blur(5px) opacity(.3);
    filter: blur(5px) opacity(.3);
    /*    opacity: 0.5; */
}


/**************
 *
 * Font size and colours
 *
 **************/


.large { font-size: 130% }
.footnotesize { font-size: 85% }
.small { font-size: 70% }

.black { color: black; }

.bold { font-weight: bold; }
.bolder { font-weight: bolder; }


/**************
 *
 * Fancy stuff
 *
 **************/

/*  */

.rotate-left>img {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg); 
}

.rotate-right>img {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);     
}


.pol>img
{
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 4px 6px rgba(0,0,0,.3);
    box-shadow: 0px 4px 6px rgba(255, 255, 255, .5);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}


.polaroid>img {
    padding: 5px;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}


.background-multiply {
    background-blend-mode: multiply;
}






h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-family: 'Alegreya Sans', sans-serif; 
    font-weight: normal;
    font-weight: 500;
}

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 90%;
}



.fullimage {
    z-index:-5;    
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@page {
    size: 1210px 681px; 
    /* size: 908px 681px; */ /* For 4x3 aspect */ 
    margin: 0;
}


@media print {
    .remark-slide-scaler {
	width: 100% !important;
	height: 100% !important;
	transform: scale(1) !important;
	top: 0 !important;
	left: 0 !important;
    }
}


.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
				    font-size: 100%; }

.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
    //    background-color: #A72822;
    background-color: #901A1E;    
    //    color: #777872;
    color: #f3f3f3;
    text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2, .inverse h3 {
    color: #f3f3f3;
    text-shadow: 0 0 20px #333;
//  line-height: 0.8em;
}


.title-slide {
    background-color: #0728A2;
    color: #777872;
    background-image: url(kulogowhiteq.png);
    background-position: 100% 100%;
    background-size: 30%;
    background-color:#222;
    color: #fff;
}

.title-slide h1, .title-slide h2 {

}


/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

img {
  max-width: 100%;
}
